:root {
    --card-radius: 10px;
}
body {
    background-color: rgb(64, 49, 148);
}
.container {
    margin: 30px 50px;
}
header {
    text-align: center;
    font-size: 30px;
}
main {
    margin: 50px 20px;
    display: flex;
    justify-content: center;
}
.task-lists {
    width: 50%;
    border-radius: var(--card-radius);
    margin: 10px 30px;
    background-color: #f1f3f111;
}
.tasks {
    width: 50%;
    margin: 10px 30px;
    border-radius: var(--card-radius);
    position: relative;
}
#list-title {
    display: inline-block;
    margin-right: auto;
}
#remaining, #select, #clear {
    display: inline-block;
}
.task-list-footer * {
    cursor: pointer;
}
.task-list-header, .task-list-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #25c525;
}
.task-list-footer {
    border-radius: 0px 0px var(--card-radius) var(--card-radius);
}
.task-list-header, .list-header {
    border-radius: var(--card-radius) var(--card-radius) 0px 0px;
}
.list {
    display: block;
    list-style-type: circle;
    transition-duration: .5s;
    min-height: 150px;
}
.task-name {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px ridge gray;
}
.task-name, .list-name {
    margin: 10px auto;
    transition-duration: .3s;
}
.task-name:hover, .list-name:hover {
    cursor: pointer;
    color: rgb(196, 191, 191);
}
.list-name {
    font-size: 19px;
}
.list-name.active-list:hover {
    color: white;
}
#new-task, #new-list {
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
    margin: 5px 0px 20px 0px;
    width: 35%;
    transition-duration: .7s;
}
#new-task:focus {
    outline: none;
    border-bottom: 2px solid rgb(100, 6, 252);
}
#new-list:focus {
    outline: none;
}
.list-header {
    text-align: center;
    padding: 10px 40px;
    background-color: #25c52555;
}
.plus {
    margin: 5px 0px 5px 20px;
}
.input {
    position: relative;
    width: 100%;
}
.active-list {
    color: white;
}
.list li {
    transition-duration: .5s;
}
.finished {
    text-decoration: line-through;
    list-style-type: '\2714  ';
}
.del-icon {
    display: none;
    margin: 0px 20px;
    padding: 0px;
    font-size: 15px;
    color: rgb(196, 191, 191);
}
.task-name:hover .del-icon {
    display: inline-block;
}
.del-icon:hover {
    color: black;
}
#no-task-msg {
    display: none;
    position: absolute;
    top: 40%;
    text-align: center;
    bottom: 40%;
    font-size: 50px;
    background-color: #604caa;
    height: max-content;
    border-radius: var(--card-radius);
    text-shadow: 0 0 5px #28fa0c;
}
.tasks-present {
    background-color: #f1f3f1;
    border-radius: var(--card-radius);
}
footer {
    margin: 50px auto;
    background-color: #e3f545;
    text-align: center;
    width: fit-content;
    padding: 20px 30px;
    border-radius: var(--card-radius);
}
@media only screen and (max-width: 768px) {
    .container {
        margin: 30px 10px;
    }
    main {
        flex-direction: column;
        align-items: center;
        margin: 50px 10px;
    }
    .task-lists, .tasks {
        width: 80%;
        margin: 10px 10px;
    }
    #no-task-msg {
        width: 100%;
    }
    footer {
        width: 70%;
        margin: 100px auto;
    }
}
@media only screen and (max-width: 640px) {
    footer {
        margin: 150px auto;
    }
}
@media only screen and (max-width: 450px) {
    .task-lists, .tasks {
        width: 100%;
    }
    .task-list-footer {
        flex-direction: column;
        justify-content: center;
    }
    .task-list-footer * {
        width: 100%;
        display: block;
        margin: 10px auto;
    }
}
@media only screen and (max-width: 300px) {
    footer {
        margin: 250px auto;
    }
}